html
  head
    link(href='/client/font-awesome.min.css', rel='stylesheet')
    link(href='/client/style.css', rel='stylesheet')
  body
    div.player-wrapper

    script(src='/socket.io/socket.io.js')
    script(src='/client/control.js')
    script(src='/client/socket.js')
    script(src='/client/api.js')